body, html {
    margin:0; padding:0;
    width:100%; height:100%;
    background-image: url("../images/bg.png");
    background-size:cover;
}

* {
    box-sizing: border-box;
}


.character {
    position: absolute;
    z-index: 1;
    background-image: url("../images/zombie.png");
    width: 130px;
    height: 180px;
    background-size: cover;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    background-position: center;
    animation-name: bounce;
    top: -40px;
}

.characterLeft {
    background-image: url("../images/zombie.png")!important;

}

.characterRight {
    background-image: url("../images/zombie-right.png")!important;

}

 @keyframes bounce {
	0% {
    top: -40px;
  }
	50% {
    top: -20px;
  }
	100% {
    top: -40px;
  }
}

.start {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: green;
    background-image: url("../images/start.jpg");
    background-size:cover;
}

.start button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30%;
    margin-bottom: auto;
    background-color: #f34a4a;
    border: 5px solid #fff;
    border-radius: 5px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 30px;
    color: #fff;
}

food {
    width:150px; height:115px;;
    background-image: url(../images/bomb.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

brain {
    width:150px; height:100px;;
    background-image: url(../images/brain.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

cherry {
    width:150px; height:115px;;
    background-image: url(../images/plant_cherry_bomb.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

powerup {
    width:150px; height:150px;
    background-image: url(../images/powerup.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.powerupLoading {
    background-image: url(../images/powerupLoading.png)!important;
}

score {
    position: absolute;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    padding:20px;
}


